{% extends 'hunting_quizz/base.html' %}
{% load static %}
{% block wrapper %}

<div class="container px-4 px-lg-5 my-5">
  <div align="left">
    <h1 align="center">Quizz sur le permis de chasse</h1>
    <p>&nbsp;</p>
    <p class="presentation">
      Ce site a pour objet de vous entraîner au permis de chasse.<br>
      Il comporte 406 questions.<br>
      2 modes sont possibles :<br>
      - Le quizz assisté qui affiche la réponse à chaque question et ajoute les explications.<br>
      &nbsp;&nbsp;Le nombre de questions à poser doit être déterminé au préalable.<br>
      - Le quizz normal qui présente 40 questions est chronométré.<br>
      - Apprentissage qui présente un résumé de ce qu'il faut connaître <i>(en cours d'écriture)</i><br>
    </p><br><br>
  </div>
</div>
{% endblock %}




