{% load static %}

<div class="container">
  <p id="infos">
    <span id="left">Temps écoulé :
      <span id="minutes">{{minutes}}</span>:<span id="seconds">{{seconds}}</span>
    </span>
    <span id="right">Question {{current_question_nb}} sur {{nb_of_questions}}</span>
  </p>
  <form method="POST">{% csrf_token %}
    <div class="custom">
{% for one in questions %}
  <!-- We only display the first question out of the questions list -->
  {% if forloop.first %}
      <div class="row rectangle">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5" align="center">
          <img src="{{ one.imgdir }}{{ picture_id }}.jpg">
        </div>
        <div class="col-md-6 col-lg-7">
          <p class="question" align="center">{{ one.question }}</p>
          <div class="optionframe" align="center">
            <p align="left">
              <input type="radio" id="choice1" name="options" value="1">
              <label for="choice1">{{ one.choice1 }}</label>
            </p>
            <p align="left">
              <input type="radio" name="options" id="choice2" value="2">
              <label for="choice2">{{ one.choice2 }}</label>
            </p>
    <!-- Sometimes there's no third choice so we don't display it -->
    {% if one.choice3 != "None" %}
            <p align="left">
              <input type="radio" name="options" id="choice3" value="3">
              <label for="choice3">{{ one.choice3 }}</label>
            </p>
    {% endif %}
          </div>
          <p></p><p></p>
          <p align="center">
            <button class="btn btn-success validateBtn">Je valide</button>
          </p>
          <br><p id="status" align="center"></p>
        </div>
        <input type="hidden" name="question_id" value="{{ one.id }}">
        <input type="hidden" name="current_question_nb" value="{{ current_question_nb }}">
        <input type="hidden" name="nb_of_questions" value="{{ nb_of_questions }}">
        <input type="hidden" name="ids_list" value="{{ ids_list }}">
        <input type="hidden" name="min" id="min" value="{{minutes}}">
        <input type="hidden" name="sec" id="sec" value="{{seconds}}">
        <input type="hidden" name="stop_minutes" id="stop_minutes" value="">
        <input type="hidden" name="stop_seconds" id="stop_seconds" value="">
  {% endif %}
{% endfor %}
      </div>
    </div>
  </form>
  <br>

</div>