/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
#intro {
  display: table;
  width: 100%;
  height: 100vh;
  background: #000;
}

#intro .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#intro .carousel-item::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#intro .carousel-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#intro .carousel-background img {
  max-width: 100%;
}

#intro .carousel-content {
  text-align: center;
}

#intro h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

#intro p {
  width: 90%;
  margin: 0 auto 30px auto;
  color: #fff;
}






/* ------------------------------------------------------------------------------------------------------- */

#sitetitle {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  color: yellow;
}
.tabtitles {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  padding-top: 1rem;
  margin-right: 2rem;
}
.tabtitle1 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  padding-top: 1rem;
  margin-right: 2rem;
}
.tabtitle2 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  padding-top: 1rem;
  margin-right: 2rem;
}
#endband {
  bottom: 0;
  background: #343a40;
  color: #eee;
  padding-bottom: 0.3rem;
  font-size: 0.8rem;
}
.navbar-nav-custom {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-navbar-color);
  --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
  --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.real-bg {
  background-color: #d5d8dc;
}
.real-projets-bg {
  background-color: #fef9e7;
}



/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
@media (min-width: 576px) {
  #sitetitle {
    font-size: 2rem;
    padding-top: 0rem;
  }
  .tabtitle1 {
    font-size: 1.2rem;
    margin-right: 3rem;
  }
  .tabtitle2 {
    font-size: 1.2rem;
    margin-right: 5rem;
  }
  #endband {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .tabtitle1 {
    margin-right: 3rem;
  }
  .tabtitle2 {
    margin-right: 17rem;
  }
}

@media (min-width: 992px) {
  .tabtitle1 {
    margin-right: 3rem;
  }
  .tabtitle2 {
    margin-right: 25rem;
  }
}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {
  .tabtitle1 {
    margin-left: -60rem;
  }
  .tabtitle2 {
    margin-left: -47rem;
  }
}
