
body {
  background-color: #dfdfde;
}
.ending {
  height :40px;
  width : 100%;
  background-color: #343a40;
  position : fixed;
  bottom : 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 0.7em;
  color: #ffffff;
}
.optionframe {
  background-color: #ebebeb;
  padding: 1em 1em 1em 1em;
  margin-left: 2em;
  margin-right: 2em;
  border-width: 0.1em;
  border-color: #7a7976;
  border-style: solid;
  font-style: italic;
  color: #676767;
}
.picture {
  margin-top: 0.8em;
  margin-bottom: 1.2em;
  border-width: 2px;
  border-color: #646464;
  border-style: solid;
  border-radius: 22px;
}
.question {
  font-family: "Comic Sans MS";
}
.validateBtn {
  margin-top: 2em;
}
.rectangle {
  margin-top: 3em;
  margin-bottom: 2em;
}
#right {
  float:right;
  font-family: "Comic Sans MS";
}
#left {
  float:left;
  font-family: "Comic Sans MS";
}
#infos {
  padding-top: 1em;
  padding-bottom: 0.4em;
}
#status {
  color: red;
  font-family: Verdana;
  font-style: italic;
  font-size: 0.8em;
}
#results {
  min-width: 80%;
  margin-top: 3em;
  border-width: 0.5em;
  border-color: grey;
  border-style: solid;
  padding: 1em 1em 1em 1em;
  text-align: center;
  font-size: 1.2em;
  background-color: #ebebeb;
}
#apprentissage-title {
  font-family: Geneva, Helvetica;
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
  margin-top: 0.3em;
  margin-bottom: 0.8em;
  color: grey;
}
#presentation {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
#apprentissage-table {

}

#apprentissage-table img {
  width: 100%;
}
.td1 {

}
.td2 {
  width: 60%;
  text-align: center;
}
.td3 {
  font-family: Helvetica, sans-serif;
  font-size: 0.8em;
}
.td4 {
  background-color: grey;
}
h3 {
  text-align: left;
}
.paragraph1 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 0.9em;
}
.titre1 {
    font-size: 1.2em;
    color: grey;
    font-style: bold;
}
/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/
@media (min-width: 768px) {
  .custom {
    font-size: 1.2em;
  }
  .td3 {
    font-size: 1em;
  }
  .paragraph1 {
    font-size: 1.2em;
    width: 70%;
  }
  #apprentissage-table img {

  }
  #presentation {
    width: 65%;
  }
  .titre1 {
    font-size: 2em;
  }
}













