{% extends "mainsite/base.html" %}

{% block content %}

<header style="background-color:#ABB2B9;">
  <div class="container px-4 px-lg-5 py-3 text-white"></div>
</header>
<p></p><p></p>

<p></p>
<div align="center">
  <div class="col-md-3" align="center">
    <h3>Services proposés :</h3>
  </div>
  <p>&nbsp;</p>
  <div class="card col-md-3">
    <h5 class="card-header">Création de sites Web</h5>
    <div class="card-body">
      <p class="card-text">Du site personnel, vitrine au site e-commerce</p>
    </div>
  </div>
  <p>&nbsp;</p>
  <div class="card col-md-3">
    <h5 class="card-header">Conception d'applications en Python</h5>
    <div class="card-body">
      <p class="card-text">Des programmes pour des besoins personnalisés</p>
    </div>
  </div>
  <p>&nbsp;</p><!--
  <div class="card col-md-3">
    <h5 class="card-header">Assistance et support Informatique</h5>
    <div class="card-body">
      <p class="card-text">Réparation d'ordinateurs, assistance, support à l'utilisation</p>
    </div>
  </div>-->
  <p>&nbsp;</p>



</div>
<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>


















{% endblock %}